<div class="container">
    <h2>Contests</h2>
    <mat-card class="contest-list-card" *ngIf="!selectedCourse">
        <mat-card-header>
          <mat-card-title>List Contests</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-bordered table-hover">
                <thead >
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Reward</th>
                    <th>Formation</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contest of contests; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ contest.name }}</td>
                    <td>{{ contest.description }}</td>
                    <td>{{ contest.date | date }}</td>
                    <td>{{ contest.reward }}</td>
                    <td>{{ contest.course?.name }}</td>
                    <td>
                        <button mat-raised-button color="primary" [routerLink]="'/ui-components/addgame/'+contest.idContest">add game</button>
                      </td>
                    <td>
                        <button mat-raised-button color="primary" (click)="selectCourse(contest)">Update</button>

                      <button mat-raised-button color="warn" (click)="deleteContest(contest.idContest)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </mat-card-content>
      
      </mat-card>
  </div>
  <mat-card *ngIf="selectedCourse" class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Update </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="updateCourse()" class="add-contest-form">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="selectedCourse.name" name="name" required />
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Description</mat-label>
              <input matInput [(ngModel)]="selectedCourse.description" name="description" required />
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Date</mat-label>
              <input matInput [(ngModel)]="selectedCourse.date" name="date" type="date" required />
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Reward</mat-label>
              <input matInput [(ngModel)]="selectedCourse.reward" name="reward" required />
            </mat-form-field>
    
            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit">update Contest</button>
              <button mat-raised-button color="primary" (click)="selectedCourse=null">close</button>

            </div>
          </form>
    </mat-card-content>
  </mat-card>