<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
              src="./assets/images/logologo.jpg"
              class="align-middle m-2"
              alt="logologo"
              style="width: 100px; height: auto;"
            />
            
            </a>
          </div>

       
           
          
          <div class="or-border m-t-30">or sign in with</div>

          <form [formGroup]="form" class="m-t-30" (ngSubmit)="submit()">
            <!-- Username -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" placeholder="Email" />
              <mat-error *ngIf="form.controls['uname'].hasError('required')">Username is required</mat-error>
              <mat-error *ngIf="form.controls['uname'].hasError('email')">Please enter a valid email</mat-error>
            </mat-form-field>
          
            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" placeholder="Password" />
              <mat-error *ngIf="form.controls['password'].hasError('required')">Password is required</mat-error>
            </mat-form-field>
          
            <!-- Sign In Button -->
            <button type="submit" mat-flat-button color="primary" class="w-100" [disabled]="form.invalid">
              Sign In
            </button>
          </form>
          
          
          
          
          <span class="d-block f-w-500 text-center m-t-24">
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>